include ../../modules/icon/icon
mixin footer(data)
	footer.footer&attributes(attributes)
		.footer__top
			.container
				.footer-top
					.grid--grid
						.grid-col-7-12
							.footer-top__left
								.footer-menus
									.footer-menus__item
										.footer-menu
											h4 Услуги
											ul
												each item in footersmenu.service
													li
														a(href= item.link)= item.title
									.footer-menus__item
										.footer-menu
											h4 Покупателям
											ul
												each item in footersmenu.buyers
													li
														a(href= item.link)= item.title
									.footer-menus__item
										.footer-menu
											h4 О компании
											ul
												each item in footersmenu.about
													li
														a(href= item.link)= item.title
										.footer-menu
											h4 Контакты
											ul
												each item in footersmenu.contacts
													li
														a(href= item.link)= item.title

						.grid-col-5-12
							.footer-contacts
								.footer-contacts__item
									.contacts-item
										.contacts-item__icon 
											+icon(name="call-footer" title="Телефон") 
										.contacts-item__body
											.contacts-item__meta Контактный центр
											a.contacts-item__text(href="tel:+78007750155") 8 800 775-01-55
								.footer-contacts__item.footer-contacts__item--addr
									.contacts-item
										.contacts-item__icon
											+icon(name="baloon" title="Адрес")
										.contacts-item__body
											.contacts-item__meta Адрес
											.contacts-item__text.contacts-item__text--addr Тверь, Сахаровское шоссе, 9
								.footer-contacts__item
									.contacts-item
										.contacts-item__icon
											+icon(name="mail" title="Эл. почта")
										.contacts-item__body
											.contacts-item__meta Эл. Почта
											a.contacts-item__text.contacts-item__text--addr(href="mailto:info@metizy-tver.ru") info@metizy-tver.ru
								.footer-contacts__item.footer-contacts__item--soc
									.footer-socials
										a(href="", target="_blank")
											+icon(name="vk" title="Вконтакте")
										a(href="", target="_blank")
											+icon(name="fb" title="Фейсбук")
										a(href="", target="_blank")
											+icon(name="ok" title="Одноклассники")
										a(href="", target="_blank")
											+icon(name="youtube" title="Ютуб")
										a(href="", target="_blank")
											+icon(name="twitter" title="Твиттер")
										a(href="", target="_blank")
											+icon(name="inst" title="Инстаграмм")
		.footer__bottom
			.container
				.footer-copy
					.grid.grid--grid
						.grid-col-1-2
							.footer-copy__left  Стройбаза &laquo;Метизы&raquo; 1998-2018. Все права защищены
						.grid-col-1-2
							.footer-copy__right Продвижение и поддержка — holmax.ru
