footer
	background-color $navy
	color #fff

.footer-menus
	display flex

.footer-menus__item
	flex 1 0 200px
	margin-right rem(30px)

.footer-menu
	h4
		footertitle()
		margin-bottom 0
		line-height 1

	ul
		margin 0
		padding 0
		list-style none
		line-height 1

		li
			margin-top rem(7px)
			line-height 0.2

			a
				text-decoration none
				topline()
				line-height 1

			&:hover
				a
					text-decoration underline

.footer-menu + .footer-menu
	margin-top 20px

.footer__top
	padding em(40px) 0 em(30px)

.footer-top
	padding 0 em(10px)

.footer__bottom
	padding em(8px) em(5px)
	background-color $navy-two

.footer-copy
	topline()
	padding 0 em(8px)

.footer-copy__right
	text-align right

.footer-copy__left
	text-align left

.contacts-item
	display flex
	align-items flex-start
	text-align left

.footer-contacts__item--addr
	margin-top 15px !important

.contacts-item__meta
	meta()
	line-height 1

.contacts-item__text
	footerbold()
	text-decoration none
	line-height 1

	&:hover
		color #fff

.contacts-item__text--addr
	footeraddr()
	margin-top 5px

.footer-contacts__item
	&:not(:first-child)
		margin-top rem(20px)
		margin-left rem(90px)

.footer-contacts__item
	&:first-child
		margin-top rem(15px)
		margin-left rem(90px)

.footer-contacts__item--soc
	margin-top rem(5px) !important
	margin-left rem(95px) !important

.contacts-item__icon
	margin-top -10px
	margin-right 20px

.footer-contacts
	margin-top -10px
	padding-left 2rem

.footer-socials
	display flex
	justify-content flex-start
	align-items center

	a
		display inline-block
		margin-right 20px

		.icon
			color white
			transition all ease 0.5s

		&:hover
			.icon
				color $gold
