include ../../modules/icon/icon
mixin ware-card(img, name, price, oldprice, sale, ribbon)
	
	.ware-card&attributes(attributes)
		if ribbon === "sale"
			.ware-card__ribbon.ware-card__ribbon--sale Акция
		if ribbon === "new"
			.ware-card__ribbon.ware-card__ribbon--new Новинка
		.ware-card__top
			a(href="").ware-card__img
				img(src= img, alt="")
		.ware-card__body
			.ware-card__info
				.ware-card__row
					.ware-card__articul Код: 1324564
						if sale === ""
							.ware-card__loyality
						if sale === "blue"
							.ware-card__loyality
								.icon.icon_blue
						if sale === "red"
							.ware-card__loyality
								.icon.icon_red
						if sale === "green"
							.ware-card__loyality
								.icon.icon_green
						if sale === "blue red"
							.ware-card__loyality
								.icon.icon_blue
								.icon.icon_red
				a(href="").ware-card__decr= name
			.ware-card__price
				.ware-card-price
					.card-price
						.card-price__main= price
							span.rouble c
						if oldprice !== ""
							.card-price__line
								.card-price__oldprice= oldprice
								.card-price__sale -2 000

					.card-counter
						input(type="text", value="1")
						.card-counter__controls
							.card-counter__up
								+icon(name="counter-up", title="Больше")
							.card-counter__down
								+icon(name="counter-down", title="Меньше")
			.ware-card__btns
				.ware-card__compare
					.card-compare
						a(
							href=""
							data-tooltip-id="tooltip-compare"
							data-tooltip-placement="tooltip-bottom"
						)
							.icon.icon_compare
						div(data-tooltip-target="tooltip-compare").hidden
							| Сравнить 
				.ware-card__addToCard
					a(class="btn btn--submit") В корзину
						+icon(name="addtocart", title="Добавить в корзину")
