.ware-card
	position relative
	display flex
	flex-flow column wrap
	justify-content space-between
	transition all ease 0.5s

	&:before
		position absolute
		top 0
		left 0
		z-index 1
		display block
		width 100%
		height 100%
		border solid 1px $cardborder
		background-color #fff
		content ""
		transition all ease 0.5s
		transform scale(1)

	&:hover
		z-index 10

		&:before
			box-shadow 0 0 10px 0 rgba(0, 0, 0, 0.1)
			transform scale(1.02)

	&__articul
		lot()
		display flex
		justify-content space-between
		align-items center
		margin-bottom 10px
		line-height 1.4

	&__decr
		cardtitle()
		display inline-block
		margin-top 0px
		color $bluish !important
		text-decoration none
		line-height 1.3

	&__btns
	&-price
	.card-price__line
		display flex
		justify-content space-between
		align-items center

	&__compare
		.icon_compare
			fill #CBCBCB

	&__body
		position relative
		z-index 2
		display flex
		flex 0 0 auto
		flex-flow column nowrap
		flex-flow column wrap
		justify-content space-between
		padding rem(20px) rem(30px) rem(10px)
		height calc(100% - 175px)

	&__top
		position relative
		z-index 2
		flex 1 0 180px
		overflow hidden
		padding rem(10px) rem(20px)
		max-height 180px
		text-align center

		img
			margin-auto()

	&__info
		display flex
		flex 0 0 40%
		flex-flow column nowrap
		justify-content flex-start

	&__price
		flex 0 0 37%
		padding 10px 0

	&__btns
		display flex
		flex 0 0 15%
		justify-content space-between
		align-items flex-end
		margin-bottom auto

	@-moz-document url-prefix()
		.ware-card__btns
			height auto

	&__loyality
		display flex

		.icon
			background-image url("../images/sprite.png") !important

			&:not(:last-child)
				margin-right 5px

		.icon_red
			sprite($red)

		.icon_green
			sprite($green)

		.icon_blue
			sprite($blue)

.ware-card__img
	position relative
	height 180px
	margin-auto()
	display block
	overflow hidden
	text-align center

	img
		center()

.card-price
	&__main
		cardprice()
		letter-spacing normal
		line-height 1

	&__oldprice
		cardoldprice()
		margin-right 10px
		text-decoration line-through
		letter-spacing 0.028em

	&__sale
		par()
		display inline-block
		padding em(3px) em(5px)
		min-width 54px
		border-radius 100px
		background-color $sun-yellow
		text-align center
		line-height 1

.ware-card-price
	justify-content space-between
	align-items flex-start

.card-price__line
	margin-top 5px

.btn
	&--submit
		position relative
		display inline-block
		width 162px
		height 37px
		background-image linear-gradient(180deg, #46A3D0 0%, #2A92C4 49.72%, #0D81B9 100%)
		box-shadow 0 3px 4px 0 $shadowcolor
		cardbtn()
		padding-right em(25px)
		border-radius 100px
		text-align right
		text-decoration none
		line-height 37px
		cursor pointer

		&:hover
			background-image linear-gradient(0deg, #46A3D0 0%, #2A92C4 49.72%, #0D81B9 100%)
			color #fff

		&:active
			outline none
			background-color #3587AF
			background-image none
			box-shadow none

		&.disabled
			background-image linear-gradient(180deg, #C9C9C9 0%, #B0B0B0 49.72%, #9C9C9C 100%)

			&:before
				background-color #C8C8C8

		&:before
			position absolute
			top 5px
			left 50px
			width 1px
			height 27px
			background-color #46AADB
			content ""

	.icon_addtocart
		position absolute
		top 7px
		left 15px
		color transparent
		fill transparent

.card-counter
	display flex
	justify-content space-between
	align-items stretch
	width 73px
	height 32px

	input
		flex 0 0 43px
		width 43px
		border solid 1px rgb(186, 206, 210)
		cardcount()
		padding em(5px) em(10px)
		max-width 43px

	&__controls
		display flex
		flex 0 0 30px
		flex-flow column wrap

	&__up
	&__down
		position relative
		display block
		flex 0 0 50%
		height 50%
		cursor pointer

	&__up
		background-color rgb(48, 132, 152)

	&__down
		background-color rgb(27, 113, 133)

	.icon
		center()
		color #fff

		&_counter-down
			color rgb(112, 164, 177)

.card-compare
	a
		display block

		.icon
			background-image url("../images/sprite.png") !important

			&.icon_compare
				sprite($comparecard)

		&:hover
			.icon_compare
				sprite($comparehover)

	.tooltip
		padding-top 3px
		min-width 0
		max-width 84px
		width 84px !important
		height 25px
		border-radius 2px
		background-color #fff
		color #000
		text-align center
		letter-spacing 0.0005em
		font-size 12px
		bos-shadow 0 1px 4px 0 rgba(0, 0, 0, 0.2)

		.tooltip__arrow
			display none

.ware-card
	&__ribbon
		sale()
		position absolute
		top 30px
		left -4px
		z-index 3
		width 105px
		height 34px
		background-color $lipstick
		box-shadow 0 1px 4px 0 rgba(0, 0, 0, 0.25)
		text-align center
		text-transform uppercase
		font-family $base-font-family
		line-height 32px

		&:after
			position absolute
			top 0px
			left 108px
			z-index 3
			display block
			width 0
			height 0
			border-top 0
			border-right 0
			border-bottom 34px rgba(255, 255, 255, 0) solid
			border-left 15px $lipstick solid
			content ""

		&:before
			position absolute
			top 34px
			left 1px
			z-index 2
			display block
			width 0
			height 0
			border-width 0 3px 3px 0
			border-style solid
			border-color transparent #D2202E transparent transparent
			content ""

		&--sale
			width 90px

			&:after
				left 90px

		&--new
			background-color $sun-yellow
			color #000

			&:after
				left 105px
				border-left 15px $sun-yellow solid

			&:before
				border-color transparent #EDCC21 transparent transparent

	&:hover
		.ware-card__ribbon
			left -6px
