
mixin cat-filter(data)
	-
		var sortby = [
			{"value": "", "label": "Цене"},
			{"value": "", "label": "Цене(дороже)"},
			{"value": "", "label": "Цене(дешевле)"},
			{"value": "", "label": "Размеру скидки"}
		];
	.cat-filter&attributes(attributes)
		+form()
			.d-flex
				.cat-filter__sortBy
					.form-item__label
						+label(for="cat-filter__select-by") Сортировать по
					.form-item__control
						+select(
							id="cat-filter__select-by" 
							name="cat-filter__select-by"
						).select_style_default.select_inline
							option.select__placeholder Цене
							each option in sortby
								option(value=option.value)= option.label
				.cat-filter__sale
					.form-item__control
						+fieldset({ "legend": "Программа лояльности" }).fieldset_inline
							.fieldset__item
								+radio(
									id="cat-filter__radio-sale1" 
									name="cat-filter__radio-sale"
								).radio_style_sale.radio_style_sale--1
							.fieldset__item
								+radio(
									id="cat-filter__radio-sale2" 
									name="cat-filter__radio-sale" 
									checked
								).radio_style_sale.radio_style_sale--2
							.fieldset__item
								+radio(
									id="cat-filter__radio-sale3" 
									name="cat-filter__radio-sale" 
								).radio_style_sale.radio_style_sale--3

				.cat-filter__view
					.cat-filter__label Вид каталога
					.cat-filter__tgls
						.cat-filter__toggle.cat-filter__toggle--active(data-view="view-grid")
							+icon(name="toggle-card-view-icon" title="плиткой")
						.cat-filter__toggle(data-view="view-list")
							+icon(name="toggle-list-view-icon" title="списком")
