.cat-filter
	padding 0 rem(20px)
	height 43px
	border solid 1px $cardborder
	background-color rgb(255, 255, 255)

	form
		height 100%

	.d-flex
		display flex
		justify-content space-between
		align-items center
		height 100%

	.fieldset
		padding 0 !important

	.fieldset__item
		margin 0 !important

.cat-filter__sortBy
	display flex
	flex 0 0 40%
	align-items center
	height 100%

	.form-item__label
		position relative
		bottom 3px
		padding-bottom 0
		line-height 1

		label
			feattext()
			margin-right 12px

	.select_style_default
		.select__control
			position relative
			bottom 4px
			padding-left 15px
			min-height 26px
			width 173px
			height 26px
			feattext()

		&:after
			top 53%
			border-color #8E9EA3

.cat-filter__sale
	flex 0 0 32%
	padding-top 5px
	height 100%

	.fieldset_inline
		.fieldset__item
			display inline-block !important
			width 23px
			height 23px
			vertical-align top

		.fieldset__legend
			margin-top 7px
			margin-right 10px
			feattext()
			display inline-block
			flex 0 0 auto
			float left
			padding-bottom 0

.radio_style_sale
	width 23px
	height 23px
	border-radius 50%

	&--1
		.radio__box
			&:before
				background url("../images/blue.svg") 0 0 no-repeat

	&--2
		.radio__box
			&:before
				background url("../images/red.svg") 0 0 no-repeat

	&--3
		.radio__box
			&:before
				background url("../images/green.svg") 0 0 no-repeat

	input
		&:checked
			& + .radio__box
				&:before
					opacity 1

	input
		&:not(:checked)
			& + .radio__box
				&:before
					opacity 0.5

	.radio__box
		&:before
			width 23px
			height 23px

.icon_toggle-card-view-icon
	fill none !important

.cat-filter__tgls
	display flex
	margin-left 10px

	svg
		opacity 0.5

	&>div
		cursor pointer

.cat-filter__toggle
	margin-left 5px

	&--active
		svg
			opacity 1

.cat-filter__label
	feattext()

.cat-filter__view
	display flex
	flex 0 0 22%
	justify-content flex-end
	align-items center

.cat-filter__view-cards
	margin-right 10px
	margin-left 20px

.cat-filter
	.radio__box
		display block
		flex 0 0 23px
