.dropdown__submenu
	position relative

.dropdown-sublist
	position absolute
	top 0
	right -256px
	visibility hidden
	padding em(10px) em(25px)
	width 256px
	border 1px solid $cardborder
	border-radius 2px
	background-color #fff
	box-shadow 0 0 6px rgba(0, 0, 0, 0.25)

	.dropdown-list__item
		a
			font-weight 400

[data-dropdown-submenu]
	&[data-dropdown-open="true"]
		.dropdown-sublist
			visibility visible

			li
				a
					color #07262d

				&:hover
					a
						color #fff

	.icon_menu-cat-arrow
		position absolute
		top 50%
		right 17px
		transform translateY(-50%)

	&:hover
		.icon_menu-cat-arrow
			visibility visible
			color #fff

.dropdown-list__item--sale
	a
		color #E52635 !important
		font-weight 700

	&:hover
		a
			color #fff !important

.dropdown-list__item--spec
	a
		color #01B3C9 !important
		font-weight 700

	&:hover
		a
			color #fff !important
