mixin dropdown-sublist(data)
	ul.dropdown-sublist&attributes(attributes)
		each item in data
			if item.mark === "sale"
				li.dropdown-list__item.dropdown-list__item--sale
					a(href="")= item.option
			else if item.mark === "spec"
				li.dropdown-list__item.dropdown-list__item--spec
					a(href="")= item.option
			else if item.mark === "spec"
				li.dropdown-list__item.dropdown-list__item--spec
					a(href="")= item.option
			else
				li.dropdown-list__item
					a(href="")= item.option

				
