mixin head(data)
	-
		var title = data.title 
			? data.title + ' :: ' + config.projectName 
			: config.projectName;
		var author = "Velichko Konstantin"
		var description = "The template for quick start of development with Gulp, Jade and Stylus"
		var keywords = "demo, gulp, bem, modules, sprites, svg, jade, stylus, boilerplate, frontend, project, template"
		var url = "http://zoxon.github.io/gulp-front/"

	meta(charset="utf-8")
	meta(name="viewport" content="width=1140") 
	meta(content="IE=edge" http-equiv="X-UA-Compatible")
	// The above 3 meta tags *must* come first in the head;
	// any other head content must come *after* these tags

	// Title
	title= title

	// Meta tags
	meta(name="description" content=description)
	meta(name="keywords" content=keywords)

	meta(name="format-detection" content="telephone=no")
	meta(name="format-detection" content="address=no")
	meta(name="robots" content="noodp, noydir")

	// iOS: Add to Home Screen
	meta(name="apple-mobile-web-app-capable" content="yes")
	meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
	meta(name="apple-mobile-web-app-title" content=config.projectName)


	// Styles
	link(rel="stylesheet" href=config.path.styles + "/reset.css")
	link(rel="stylesheet" href=config.path.styles + "/main.css")

	// Facebook / Open Graph
	// Facebook: https://developers.facebook.com/docs/sharing/webmasters#markup
	// Open Graph: http://ogp.me/
	meta(property="fb:app_id" content="387979211564142")
	meta(property="og:url" content=url + "index.html")
	meta(property="og:type" content="website")
	meta(property="og:title" content=data.title)
	meta(property="og:image" content=url + "assets/images/content/preview.png")
	meta(property="og:description" content=description)
	meta(property="og:site_name" content=config.projectName)
	meta(property="og:locale" content="ru_RU")
	meta(property="article:author" content=author)

	// Favicons
	//- Genereted with http://realfavicongenerator.net/
	link(rel="apple-touch-icon", sizes="180x180", href="/assets/favicons/apple-touch-icon.png")
	link(rel="icon", type="image/png", sizes="32x32", href="/assets/favicons/favicon-32x32.png")
	link(rel="icon", type="image/png", sizes="16x16", href="/assets/favicons/favicon-16x16.png")
	link(rel="manifest", href="/assets/favicons/manifest.json")
	link(rel="mask-icon", href="/assets/favicons/safari-pinned-tab.svg", color="#e74c3c")
	link(rel="shortcut icon", href="/assets/favicons/favicon.ico")
	meta(name="msapplication-config", content="/assets/favicons/browserconfig.xml")
	meta(name="theme-color", content="#ffffff")

	// A list of everything that could go in the head of your document
	// https://github.com/joshbuchea/HEAD
