mixin mod-sales(head, id, arr, cl)
	.mod-sales&attributes(attributes)
		.head-mod-new
			h3= head
		.sales-slider.swiper-container&attributes({'data-swiper-id' : id, 'data-swiper-row': '3'})
			.swiper-wrapper
				.swiper-slide
					.sales-slide
						.sales-slide__img
							a(href="")
								img(src="assets/images/content/sales/sale-1.png", alt="")
						a.sales-slide__link(href="") Подробнее
				.swiper-slide
					.sales-slide
						.sales-slide__img
							a(href="")
								img(src="assets/images/content/sales/sale-2.png", alt="")
						a.sales-slide__link(href="") Подробнее
				.swiper-slide
					.sales-slide
						.sales-slide__img
							a(href="")
								img(src="assets/images/content/sales/sale-3.png", alt="")
						a.sales-slide__link(href="") Подробнее
				.swiper-slide
					.sales-slide
						.sales-slide__img
							a(href="")
								img(src="assets/images/content/sales/sale-1.png", alt="")
						a.sales-slide__link(href="") Подробнее
				.swiper-slide
					.sales-slide
						.sales-slide__img
							a(href="")
								img(src="assets/images/content/sales/sale-2.png", alt="")
						a.sales-slide__link(href="") Подробнее
				.swiper-slide
					.sales-slide
						.sales-slide__img
							a(href="")
								img(src="assets/images/content/sales/sale-3.png", alt="")
						a.sales-slide__link(href="") Подробнее
			.swiper-pagination
		.main-slider__arrow.new-slider__arrow--left.swiper-button-prev#swiper-button-prev(class= arr) 
			+icon(name="arrow-left", title="left")
		.main-slider__arrow.new-slider__arrow--right.swiper-button-next#swiper-button-next(class= arr)
			+icon(name="arrow-right", title="right")
