.mod-sales
	position relative
	margin-top 20px
	margin-bottom 30px
	padding-top 17px
	background-color rgb(255, 255, 255)
	box-shadow 0 2px 6px 0 rgba(0, 0, 0, 0.1)

.main-slider__arrow
&--left
left 0
&--right
right 0
.sales-slide
	&__img
		text-align center

.head-mod-new
	margin-bottom 10px
	padding-left 30px

	h3
		head-mod()
		text-decoration underline
		text-transform uppercase

.sales-slide__link
	linktopart()
	color #42a2d1 !important

.sales-slider
	margin-right 30px
	margin-left 30px

#swiper-button-prev
#swiper-button-next
	position absolute
