.logo
	&
	&:visited
		position relative
		display flex
		display inline-block
		align-items flex-start
		size 178px 54px
		color white
		text-align left
		text-decoration none
		line-height 1

	&__icon
		position absolute
		top 0
		left 0
		z-index 2
		width 100%
		height 100%

	.logo__part
		position absolute
		top 0
		right 0
		z-index 1
		fill #12506F

	&:hover
		color white
