.header-catmenu
	button
		display flex
		justify-content space-between
		align-items center
		padding 10px 20px
		width 255px
		height 34px
		cursor pointer

.dropdown__trigger
	line-height 1

.dropdown__caret
	triangle(down, 5px, $pine-green, #fff)
	right 15px
	margin-top 3px
	transform rotate(0deg) translateY(-50%)
	transform-origin 0 0

.dropdown__name
	flex 3 0 160px
	padding-left 15px
	text-align left
	par()

.dropdown[data-dropdown-open="true"] .dropdown__caret
	triangle(up, 5px, $pine-green, #fff)
	top 50%
	right 15px
	margin-top -3px

	transform rotate(0deg) translateY(-50%)
		transform-origin 0 0

.header-catmenu__button
	display flex
	justify-content space-between
	align-items center
	padding 10px 20px
	width 255px
	height 34px
	border none
	border-radius 2px
	background-color #fff
	cursor pointer

.header-catmenu-trigger
	margin-top 5px

	button
		position relative

		&[aria-expanded="true"]
			.dropdown__caret
				top 12px
				border-top-color white
				border-bottom-color black

.header-catmenu-target
	position absolute
	top 160px
	left 0
	z-index 2
	width 100%

	button
		display none

	.dropdown
		top -40px
		left 10px
