include ../../modules/dropdown/dropdown
include ../../modules/icon/icon

mixin header-catmenu(data)
	.header-catmenu-trigger
		button.header-catmenu__button(data-exclude-outer)
			+icon(name="cat-gamburger" title="")
			span.dropdown__name Каталог товаров
			span.dropdown__caret
	
