.radio
	position relative
	display flex
	justify-content flex-start
	align-items center
	padding-bottom 10px
	line-height 1
	cursor pointer

	&__box
		position relative
		display inline-block
		vertical-align middle

		&:before
			position absolute
			display block
			content ""
			opacity 0
			transition 125ms all ease
			will-change opacity, transform

	&__control
		// 
		&:focus ~ ^[0]__box
			outline none
			border-color $form-color-border_focus
			focus($form-color-border_focus)

		&:checked + ^[0]__box:before
			opacity 1

		&:disabled ~ ^[0]__box
		&:disabled ~ ^[0]__label
			opacity 0.5

	&__label
		user-select none

	&_style_default
		display flex
		align-items center

		& ^[0]__box
			size 16px
			border 1px solid #C5C4C4
			border-radius 50%
			transition 125ms border-color ease

			&:before
				center()
				size 8px
				border-radius 50%
				background-color #2795CA
				opacity 0

			&:disabled + ^[0]__box
				background $form-color-background - 8%

		& ^[0]__label
			padding-left 11px
			color #07262D
			white-space nowrap
			font-size rem(12px)
			line-height 1

			+below(1024px)
				padding-top 10px
				padding-bottom 10px

.radio__control:focus ~ .radio__box
	box-shadow none
