.cat-list
	display flex
	display grid
	flex-flow row wrap
	justify-content flex-start
	align-items flex-start
	padding-right 2px

	.ware-card
		display inline-block
		flex 1 0 33.3333%
		width 33.3333%
		height 440px
		vertical-align top
		transition all ease 0.2s

	&.catviewList
		.ware-card
			display flex
			flex 0 0 100%
			flex-flow row wrap
			justify-content flex-start
			width 100%
			height 211px

			&__top
				flex 0 0 255
				// min-width 230px

			&__body
				display flex
				flex 0 0 calc(100% - 255px)
				flex-flow row wrap
				padding-right 25px
				padding-left 0
				height 100%

			&__btns
				flex 0 0 100%
				justify-content flex-end

				.card-compare
					margin-right 39px

			&__info
				flex 0 0 70%

				.ware-card__articul
					justify-content flex-start

				.ware-card__loyality
					margin-left 20px

			&__price
				flex 0 0 30%
				padding 0
				height auto

				.ware-card-price
					flex-flow column wrap
					align-items flex-end

					.card-price
						flex 0 0 100%

						&__main
							padding-top 10px

					.card-counter
						flex 0 0 100%
						margin 15px 0 3px

			&__decr
				margin-top 15px

			&:hover
				.ware-card__ribbon
					left -12px
