mixin cat-list(data)
	.cat-list&attributes(attributes)
		+ware-card("assets/images/content/wares/ware-1.png", "Дверь входная Прораб, цвет медный антик,86 мм.Дверь входная Прораб, цвет медный антик,86 мм.", "5 750", "7 750", "")
		+ware-card("assets/images/content/wares/ware-2.png", "Сварочный аппарат САИ 250ПН", "5 750", "", "", "sale")
		+ware-card("assets/images/content/wares/ware-1.png", "Дверь входная Прораб, цвет медный антик,86 мм.Дверь входная Прораб, цвет медный антик,86 мм.", "5 750", "7 750", "blue red")

		+ware-card("assets/images/content/wares/ware-1.png", "Дверь входная Прораб, цвет медный антик,86 мм.Дверь входная Прораб, цвет медный антик,86 мм.", "5 750", "7 750", "", "new")
		+ware-card("assets/images/content/wares/ware-2.png", "Сварочный аппарат САИ 250ПН", "5 750", "", "")
		+ware-card("assets/images/content/wares/ware-1.png", "Дверь входная Прораб, цвет медный антик,86 мм.Дверь входная Прораб, цвет медный антик,86 мм.", "5 750", "7 750", "green")

		+ware-card("assets/images/content/wares/ware-1.png", "Дверь входная Прораб, цвет медный антик,86 мм.Дверь входная Прораб, цвет медный антик,86 мм.", "5 750", "7 750", "")
		+ware-card("assets/images/content/wares/ware-2.png", "Сварочный аппарат САИ 250ПН", "5 750", "", "")
		+ware-card("assets/images/content/wares/ware-1.png", "Дверь входная Прораб, цвет медный антик,86 мм.Дверь входная Прораб, цвет медный антик,86 мм.", "5 750", "7 750", "")

		+ware-card("assets/images/content/wares/ware-1.png", "Дверь входная Прораб, цвет медный антик,86 мм.Дверь входная Прораб, цвет медный антик,86 мм.", "5 750", "7 750", "")
		+ware-card("assets/images/content/wares/ware-2.png", "Сварочный аппарат САИ 250ПН", "5 750", "", "green" )
		+ware-card("assets/images/content/wares/ware-1.png", "Дверь входная Прораб, цвет медный антик,86 мм.Дверь входная Прораб, цвет медный антик,86 мм.", "5 750", "7 750", "")
