include ../../modules/header-contacts/header-contacts
include ../../modules/header-menu/header-menu
include ../../modules/header-search/header-search
include ../../modules/header-lk/header-lk
include ../../modules/logo/logo
mixin header-middle(data)
	.header-middle&attributes(attributes)
		.container
			.grid--grid
				.grid-col-1-5
					+logo()
				.grid-col-5-12
					+header-menu()
				.grid-col-1-4
					+header-contacts()
				.grid-col-1-8
					+header-lk()
