mixin cart-side(data)
	.cart-side(data-sticky, data-margin-top="130")
		.cart-side__inner
			h3 Ваш заказ
			.cart-side__totals
				.cart-side__item
					span Всего товаров
					span
						strong 3 шт
				.cart-side__item
					span Вес
					span
						strong 135 кг
				.cart-side__item
					span Объем
					span
						strong 3 куб.м
				.cart-side__item
					span Сумма
					span
						strong 25 527 
							span.rouble c
				.cart-side__item
					span Доставка
					span
						strong 500
							span.rouble c
			.cart-total
				span К оплате
				span
					strong 25 527
						span.rouble c
			.cart-pay
				a.btn.btn--submit(href="") Оформить заказ

			.cart-print
				+icon(name="print-icon" title="Распечатать")
				a(href="") Распечатать
