.cart-side
	position relative
	left 50px
	padding em(15px)
	max-width 255px
	border 1px solid $cardborder
	background-color #fff

	h3
		margin-bottom 15px
		color #000
		font-weight 700
		font-size rem(18px)

	&.cartFixed
		position fixed

.cart-side__item
	display flex
	justify-content space-between
	margin-bottom 10px

	span
		par()
		font-weight 600

		&.rouble
			font-weight 400
			font-family rouble

	span
		strong
			font-weight 600

.cart-side__totals
	padding-bottom 15px
	border-bottom 1px solid #d4e8f2

.cart-total
	display flex
	justify-content space-between
	align-items center
	padding em(15px) 0
	par()

	span
		display inline-block

		strong
			font-weight 600
			font-size rem(18px)

.cart-pay
	.btn
		padding 0
		width 100%
		color #fff
		text-align center
		letter-spacing 0.04em
		font-size rem(14px)

		&:before
			content none

.cart-print
	display flex
	justify-content center
	align-items center
	margin-top 20px

	a
		linktopart()
		position relative
		text-decoration none

		&:before
			position absolute
			bottom 1px
			left 0
			width 100%
			height 1px
			border-bottom 1px dashed $bluish
			content ""

	.icon
		margin-right 15px
		color $bluish
