mixin newsblock(data)
	.newsblock&attributes(attributes)
		.newsblock_head
			h3.newsblock__title 
				a(href="") Новости
		.newsblock__item
			.news-item
				a.news-item__title Супермаркет «Краски»
				.news-item__date 04.06.2018
				.news-item__anounce Большой выбор автозапчастей.
		.newsblock__item
			.news-item
				a.news-item__title Открытие магазина «Мужской стиль»
				.news-item__date 04.06.2018
				.news-item__anounce Большой выбор автозапчастей.
		.newsblock__item
			.news-item
				a.news-item__title Сухие строительные смеси «СТАРАТЕЛИ»!
				.news-item__date 04.06.2018
				.news-item__anounce Большой выбор автозапчастей.
