.newsblock
	margin-left 20px
	padding 1.4em 1.3em
	background-color #fff

.newsblock__title
	newstitle()

.news-item__title
	head4()
	flex 0 0 80%
	margin-bottom 5px
	text-decoration none
	line-height 1.3 !important
	cursor pointer

	&:hover
		color #000
		text-decoration underline

.news-item__date
	newsdate()
	flex 0 0 20%

.news-item__anounce
	feattext()
	flex 0 0 100%

.newsblock_head
	margin-bottom 1.5rem
	padding-bottom 0.6em
	border-bottom 1px solid #E7F3F9

.newsblock__item
	margin-bottom 25px

.news-item
	display flex
	flex-flow row wrap
	justify-content space-between
	align-items flex-start
