extends page

include ../modules/browsehappy/browsehappy
include ../modules/mobile-menu/mobile-menu
include ../modules/javascripts/javascripts
include ../modules/head/head
include ../modules/scroll-top/scroll-top
include ../modules/dropdown-list/dropdown-list
include ../modules/dropdown-sublist/dropdown-sublist

block page
	.page__header
		block header
	.header-catmenu.header-catmenu-target&attributes(attributes)
		.container
			+dropdown({"title": "Каталог товаров"})
				+dropdown-list(dropdown.default)
	.page__content
		.page__wrapper
			
			.page__main
				block main

		.page__footer
			block footer
	
	.page__overlay(data-offcanvas-overlay)

	+scroll-top()

	


