.wares-slider
	.ware-card
		display inline-block
		width 278px !important
		height 440px

	.swiper-wrapper
		margin-top 30px

	.swiper-button-prev
		top 51%
		left 5px

	.swiper-button-next
		top 51%
		right 0

.outer-wares-slider
	.head-mod
		h3
			text-decoration underline

.aside-filter__more
	display inline-block
	margin-top 15px
	color #42A2D1 !important
	text-decoration underline
	font-size 14px
	line-height 1

	&:hover
		text-decoration none
