mixin wares-slider(head, id)
	.outer-wares-slider
		.head-mod
			h3= head
		.wares-slider.swiper-container&attributes({'data-swiper-id' : id, 'data-swiper-row': '4'})
			.swiper-wrapper
					.swiper-slide
						.ware-card&attributes(attributes)
							.ware-card__top
								.ware-card__img
									img(src='assets/images/content/wares/ware-1.png', alt="")
							.ware-card__body
								.ware-card__info
									.ware-card__articul Код: 124564541
									a(class="ware-card__decr", href="").
										Дверь входная Прораб, цвет медный антик,86 мм.Дверь входная Прораб, цвет медный антик,86 мм.
								.ware-card__price
									.ware-card-price
										.card-price
											.card-price__main 5 750
												span.rouble c
											.card-price__line
												.card-price__oldprice 7 750
													span.rouble c
												.card-price__sale -2 000
										.card-counter
											input(type="text", value="1")
											.card-counter__controls
												.card-counter__up
													+icon(name="counter-up", title="Больше")
												.card-counter__down
													+icon(name="counter-down", title="Меньше")
								.ware-card__btns
									.ware-card__compare
										.card-compare
											a(
												href=""
												data-tooltip-id="tooltip-compare"
												data-tooltip-placement="tooltip-bottom"
											)
												+icon(name="compare", title="Сравнить")
											div(data-tooltip-target="tooltip-compare").hidden
												| Сравнить 
									.ware-card__addToCard
										a(class="btn btn--submit disabled") В корзину
											+icon(name="addtocart", title="Добавить в корзину")

					.swiper-slide
						.ware-card&attributes(attributes)
							.ware-card__top
								.ware-card__img
									img(src='assets/images/content/wares/ware-2.png', alt="")
							.ware-card__body
								.ware-card__info
									.ware-card__articul Код: 124564541
									a(class="ware-card__decr", href="").
										Сварочный аппарат САИ 250ПН
								.ware-card__price
									.ware-card-price
										.card-price
											.card-price__main 5 750
												span.rouble c
											.card-price__line
												.card-price__oldprice 7 750
													span.rouble c
												.card-price__sale -2 000
										.card-counter
											input(type="text", value="1")
											.card-counter__controls
												.card-counter__up
													+icon(name="counter-up", title="Больше")
												.card-counter__down
													+icon(name="counter-down", title="Меньше")
								.ware-card__btns
									.ware-card__compare
										.card-compare
											a(
												href=""
												data-tooltip-id="tooltip-compare"
												data-tooltip-placement="tooltip-bottom"
											)
												+icon(name="compare", title="Сравнить")
											div(data-tooltip-target="tooltip-compare").hidden
												| Сравнить 
									.ware-card__addToCard
										a(class="btn btn--submit") В корзину
											+icon(name="addtocart", title="Добавить в корзину")

					.swiper-slide
						.ware-card&attributes(attributes)
							.ware-card__top
								.ware-card__img
									img(src='assets/images/content/wares/ware-1.png', alt="")
							.ware-card__body
								.ware-card__info
									.ware-card__articul Код: 124564541
									a(class="ware-card__decr", href="").
										Дверь входная Прораб, цвет медный антик,86 мм.Дверь входная Прораб, цвет медный антик,86 мм.
								.ware-card__price
									.ware-card-price
										.card-price
											.card-price__main 5 750
												span.rouble c
											.card-price__line
												.card-price__oldprice 7 750
													span.rouble c
												.card-price__sale -2 000
										.card-counter
											input(type="text", value="1")
											.card-counter__controls
												.card-counter__up
													+icon(name="counter-up", title="Больше")
												.card-counter__down
													+icon(name="counter-down", title="Меньше")
								.ware-card__btns
									.ware-card__compare
										.card-compare
											a(
												href=""
												data-tooltip-id="tooltip-compare"
												data-tooltip-placement="tooltip-bottom"
											)
												+icon(name="compare", title="Сравнить")
											div(data-tooltip-target="tooltip-compare").hidden
												| Сравнить 
									.ware-card__addToCard
										a(class="btn btn--submit") В корзину
											+icon(name="addtocart", title="Добавить в корзину")

					.swiper-slide
						.ware-card&attributes(attributes)
							.ware-card__top
								.ware-card__img
									img(src='assets/images/content/wares/ware-2.png', alt="")
							.ware-card__body
								.ware-card__info
									.ware-card__articul Код: 124564541
									a(class="ware-card__decr", href="").
										Сварочный аппарат САИ 250ПН
								.ware-card__price
									.ware-card-price
										.card-price
											.card-price__main 5 750
												span.rouble c
											.card-price__line
												.card-price__oldprice 7 750
													span.rouble c
												.card-price__sale -2 000
										.card-counter
											input(type="text", value="1")
											.card-counter__controls
												.card-counter__up
													+icon(name="counter-up", title="Больше")
												.card-counter__down
													+icon(name="counter-down", title="Меньше")
								.ware-card__btns
									.ware-card__compare
										.card-compare
											a(
												href=""
												data-tooltip-id="tooltip-compare"
												data-tooltip-placement="tooltip-bottom"
											)
												+icon(name="compare", title="Сравнить")
											div(data-tooltip-target="tooltip-compare").hidden
												| Сравнить 
									.ware-card__addToCard
										a(class="btn btn--submit") В корзину
											+icon(name="addtocart", title="Добавить в корзину")
					.swiper-slide
						.ware-card&attributes(attributes)
							.ware-card__top
								.ware-card__img
									img(src='assets/images/content/wares/ware-1.png', alt="")
							.ware-card__body
								.ware-card__info
									.ware-card__articul Код: 124564541
									a(class="ware-card__decr", href="").
										Дверь входная Прораб, цвет медный антик,86 мм.Дверь входная Прораб, цвет медный антик,86 мм.
								.ware-card__price
									.ware-card-price
										.card-price
											.card-price__main 5 750
												span.rouble c
											.card-price__line
												.card-price__oldprice 7 750
													span.rouble c
												.card-price__sale -2 000
										.card-counter
											input(type="text", value="1")
											.card-counter__controls
												.card-counter__up
													+icon(name="counter-up", title="Больше")
												.card-counter__down
													+icon(name="counter-down", title="Меньше")
								.ware-card__btns
									.ware-card__compare
										.card-compare
											a(
												href=""
												data-tooltip-id="tooltip-compare"
												data-tooltip-placement="tooltip-bottom"
											)
												+icon(name="compare", title="Сравнить")
											div(data-tooltip-target="tooltip-compare").hidden
												| Сравнить 
									.ware-card__addToCard
										a(class="btn btn--submit") В корзину
											+icon(name="addtocart", title="Добавить в корзину")

					.swiper-slide
						.ware-card&attributes(attributes)
							.ware-card__top
								.ware-card__img
									img(src='assets/images/content/wares/ware-2.png', alt="")
							.ware-card__body
								.ware-card__info
									.ware-card__articul Код: 124564541
									a(class="ware-card__decr", href="").
										Сварочный аппарат САИ 250ПН
								.ware-card__price
									.ware-card-price
										.card-price
											.card-price__main 5 750
												span.rouble c
											.card-price__line
												.card-price__oldprice 7 750
													span.rouble c
												.card-price__sale -2 000
										.card-counter
											input(type="text", value="1")
											.card-counter__controls
												.card-counter__up
													+icon(name="counter-up", title="Больше")
												.card-counter__down
													+icon(name="counter-down", title="Меньше")
								.ware-card__btns
									.ware-card__compare
										.card-compare
											a(
												href=""
												data-tooltip-id="tooltip-compare"
												data-tooltip-placement="tooltip-bottom"
											)
												+icon(name="compare", title="Сравнить")
											div(data-tooltip-target="tooltip-compare").hidden
												| Сравнить 
									.ware-card__addToCard
										a(class="btn btn--submit") В корзину
											+icon(name="addtocart", title="Добавить в корзину")

					.swiper-slide
						.ware-card&attributes(attributes)
							.ware-card__top
								.ware-card__img
									img(src='assets/images/content/wares/ware-1.png', alt="")
							.ware-card__body
								.ware-card__info
									.ware-card__articul Код: 124564541
									a(class="ware-card__decr", href="").
										Дверь входная Прораб, цвет медный антик,86 мм.Дверь входная Прораб, цвет медный антик,86 мм.
								.ware-card__price
									.ware-card-price
										.card-price
											.card-price__main 5 750
												span.rouble c
											.card-price__line
												.card-price__oldprice 7 750
													span.rouble c
												.card-price__sale -2 000
										.card-counter
											input(type="text", value="1")
											.card-counter__controls
												.card-counter__up
													+icon(name="counter-up", title="Больше")
												.card-counter__down
													+icon(name="counter-down", title="Меньше")
								.ware-card__btns
									.ware-card__compare
										.card-compare
											a(
												href=""
												data-tooltip-id="tooltip-compare"
												data-tooltip-placement="tooltip-bottom"
											)
												+icon(name="compare", title="Сравнить")
											div(data-tooltip-target="tooltip-compare").hidden
												| Сравнить 
									.ware-card__addToCard
										a(class="btn btn--submit") В корзину
											+icon(name="addtocart", title="Добавить в корзину")

					.swiper-slide
						.ware-card&attributes(attributes)
							.ware-card__top
								.ware-card__img
									img(src='assets/images/content/wares/ware-2.png', alt="")
							.ware-card__body
								.ware-card__info
									.ware-card__articul Код: 124564541
									a(class="ware-card__decr", href="").
										Сварочный аппарат САИ 250ПН
								.ware-card__price
									.ware-card-price
										.card-price
											.card-price__main 5 750
												span.rouble c
											.card-price__line
												.card-price__oldprice 7 750
													span.rouble c
												.card-price__sale -2 000
										.card-counter
											input(type="text", value="1")
											.card-counter__controls
												.card-counter__up
													+icon(name="counter-up", title="Больше")
												.card-counter__down
													+icon(name="counter-down", title="Меньше")
								.ware-card__btns
									.ware-card__compare
										.card-compare
											a(
												href=""
												data-tooltip-id="tooltip-compare"
												data-tooltip-placement="tooltip-bottom"
											)
												+icon(name="compare", title="Сравнить")
											div(data-tooltip-target="tooltip-compare").hidden
												| Сравнить 
									.ware-card__addToCard
										a(class="btn btn--submit") В корзину
											+icon(name="addtocart", title="Добавить в корзину")

			.swiper-pagination
			.main-slider__arrow.main-slider__arrow--left.swiper-button-prev
				+icon(name="arrow-left", title="left")
			.main-slider__arrow.main-slider__arrow--right.swiper-button-next
				+icon(name="arrow-right", title="right")

