include ../../modules/slider/slider
mixin main-banner(data)
	.main-banner&attributes(attributes)
		.grid--grid
			.grid-col-9-12
				+slider(slider.default, 'mainSlider', "1")
			.grid-col-1-4
				+main-banner-right()
