extends ../layouts/default
include ../modules/header/header
include ../modules/bread-crumbs/bread-crumbs
include ../modules/page-title/page-title
include ../modules/cart-list/cart-list
include ../modules/cart-side/cart-side
include ../modules/footer/footer
include ../modules/icon/icon



block head
	- title = "Метизы"

block header
	+header()

block main
	.container
		+bread-crumbs(breadCrumbs.default)
		+page-title() 
			| Корзина
		.page-two-col-right
			.grid--grid(data-sticky-container)
				.grid-col-9-12
					+cart-list()
				.grid-col-1-4
					+cart-side()


block footer
	+footer()
