extends ../layouts/default
include ../modules/header/header
include ../modules/bread-crumbs/bread-crumbs
include ../modules/page-title/page-title
include ../modules/aside-filter/aside-filter
include ../modules/checkbox/checkbox
include ../modules/radio/radio
include ../modules/select/select
include ../modules/label/label
include ../modules/accordion/accordion
include ../modules/form/form
include ../modules/fieldset/fieldset
include ../modules/checkbox/checkbox
include ../modules/cat-filter/cat-filter
include ../modules/cat-list/cat-list
include ../modules/ware-card/ware-card
include ../modules/cat-type-list/cat-type-list
include ../modules/range-interval/range-interval
include ../modules/pagination/pagination
include ../modules/footer/footer
include ../modules/icon/icon



block head
	- title = "Метизы"

block header
	+header()
		
block main
	.container
		+bread-crumbs(breadCrumbs.default)
		+page-title() 
			| Метизы, крепеж и такелаж

		.page-two-colls
			.grid--grid
				.grid-col-1-4
					aside
						+aside-filter()
				.grid-col-9-12
					+cat-filter()
					+cat-list()
					+pagination()

block footer
	+footer()
