extends ../layouts/default
include ../modules/header/header
include ../modules/bread-crumbs/bread-crumbs
include ../modules/page-title/page-title
include ../modules/cats-list/cats-list
include ../modules/cat-item/cat-item
include ../modules/footer/footer
include ../modules/icon/icon



block head
	- title = "Метизы"

block header
	+header()

block main
	.container
		+bread-crumbs(breadCrumbs.default)
		+page-title() 
			| Каталог товаров
		.page-one-col
			+cats-list()

block footer
	+footer()
