extends ../layouts/default
include ../modules/header/header
include ../modules/main-banner/main-banner
include ../modules/main-slider/main-slider
include ../modules/main-banner-right/main-banner-right
include ../modules/wares-slider/wares-slider
include ../modules/feat-mod/feat-mod
include ../modules/bot-form/bot-form
include ../modules/mod-sales/mod-sales
include ../modules/ware-card/ware-card
include ../modules/newsblock/newsblock
include ../modules/footer/footer
include ../modules/icon/icon



block head
	- title = "Метизы"

block header
	+header()

block main
	.container
		+main-banner()
		+wares-slider('Вы недавно просматривали эти товары', 'waresSlider')
		+mod-sales('Наши акции', 'salesSlider', 'sales')
		+wares-slider('Специальные предложения!', 'specSlider')
		.mod-sales-outer
			+mod-sales("Наши новинки", 'newsSlider', 'news')
	+feat-mod(feat.default)
	+bot-form()

block footer
	+footer()
