extends ../layouts/default
include ../modules/header/header
include ../modules/bread-crumbs/bread-crumbs
include ../modules/page-title/page-title
include ../modules/services/services
include ../modules/item-services/item-services
include ../modules/footer/footer
include ../modules/icon/icon



block head
	- title = "Метизы"

block header
	+header()

block main
	.container
		+bread-crumbs(breadCrumbs.default)
		+page-title() 
			| Наши услуги
		.page-one-col
			+services()

block footer
	+footer()
