html
body
	height 100%

html
	font-size 100%

body
	margin 0
	padding 0
	min-width 1120px
	background $base-bg-color
	color $base-text-color
	font-size $base-font-size
	font-family $base-font-family
	line-height 1.6
	-webkit-overflow-scrolling touch
	font-smoothing antialiased
