h1
h2
h3
h4
h5
h6
	margin $base-line-height 0 0.5em
	font-weight $heading-font-weight
	font-family $heading-font-family
	line-height normal

	a
		&
		&:visited
			color inherit

	&:first-child
		margin-top 0

	&:last-child
		margin-bottom 0

h1
	font-size rem(28px)

h2
	font-size rem(20px)

h3
	font-size rem(16px)

h4
	font-size rem(16px)

h5
	font-size 1.25em

h6
	font-size 1em

h1
h2
h3
	font-weight 700

h4
	font-weight 600
