p
	margin-top $base-line-height
	margin-bottom $base-line-height
	font-size rem(14px)
	line-height rem(21px)

	&:first-child
		margin-top 0

	&:last-child
		margin-bottom 0

i
em
	font-style italic

b
strong
	font-weight bold

q
	quotes "«" "»"
	font-style italic

	q
		quotes "„" "“"
		font-style italic

mark
kbd
code
	display inline-block
	padding 0 4px
	border-radius 3px
	vertical-align middle

kbd
	background-color #222
	color #fff

hr
	display block
	margin 1em 0
	padding 0
	height 1px
	border none
	border-top 1px solid #ccc
