mixin range-interval(data)
	.range-interval&attributes(attributes)
		.range-slider
			.range-slider__inpts
				input(type="text", id="rangeFrom")
				span
				input(type="text", id="rangeTo")
				.range-slider__unite руб.
			input(type="text", class="rangeSlider", value="", data-type="double")
			
