.range-interval
	padding em(5px) em(8px) em(30px) em(18px)

	.irs
		height 35px

	.irs-slider
		&.to
		&.from
			top calc(100% + 10px)
			width 0
			height 0
			border none
			border-right 6px solid transparent
			border-bottom 8px solid #004C5E
			border-left 6px solid transparent
			background none
			box-shadow none

	.irs-bar
		top 100%
		height 5px
		background-image none
		background-image linear-gradient(to right, #005468 0%, #09879C 15%, #17D4EC 100%)

	.irs-line
		top 100%
		height 5px
		border none

	.irs-min
	.irs-max
		unitemin()
		top calc(100% - 20px)
		background none

.range-slider__inpts
	display flex
	justify-content space-between
	align-items center

	input
		display inline-block
		width 78px
		height 31px
		border solid 1px $cardborder
		border-radius 2px
		par()
		padding 0.5em

	span
		display inline-block
		width 10px
		height 1px
		border solid 1px $cardborder
		vertical-align middle

.range-slider__unite
	unite()
