.header-cart
	position relative
	left 15px
	display flex
	justify-content flex-end
	align-items center

.cart-item__counter
	position absolute
	right 0px
	bottom -5px
	width 21px
	height 21px
	border-radius 50%
	background-color $gold
	color #000
	text-align center
	font-weight 700
	font-size rem(12px)
	line-height 21px

.cart-item__price
	cart()
	margin-top auto
	margin-left auto

	// margin-right auto
	.rouble
		margin-left -10px
		letter-spacing normal
		font-size rem(16px)

.rouble
	font-weight normal
	font-style normal
	font-family rouble

.header-cart__compare
	meta()
	margin-right 15px

.cart-item__cart
	position relative
	display flex
	flex 0 0 33px
	margin-right 5px
	margin-left auto
	width 33px

	.icon_shopping-cart
		fill #fff

.header-cart__item
	display flex
	flex 0 0 115px
	align-items center
	text-decoration none
	cursor pointer

	&--cart
		position relative
		top -5px
		flex 0 0 160px
		align-items flex-start
		padding-right 12px
		padding-left 15px
		text-align right

	.icon_compare
		position relative
		top 2px
		sprite($compare)

		&.icon
			background-image url("../images/sprite.png") !important

	&:first-child
		position relative
		left 26px

.icon_compare + span
	meta()
	margin-left 10px
