include ../../modules/icon/icon
mixin header-cart(data)
	.header-cart&attributes(attributes)
		a(href="").header-cart__item
			.icon.icon_compare
			span Сравнить
		.header-cart__item.header-cart__item--cart
			a(href="").cart-item__cart
				+icon(name="shopping-cart" title="Сравнить")
				.cart-item__counter 3
			.cart-item__price
				span 5 750 <span class="rouble">&nbsp;c</span>

