.bread-crumbs
	&__list
		margin 0
		padding 0
		line-height 0.4

	&__item
	&__separator
	&__link
		display inline-block
		vertical-align middle
		linktopart()
		line-height 1

	&__item
		padding 0
		color #004c5e
		list-style none
		font-size 14px

		&:last-child
			a
				text-decoration underline

			.bread-crumbs__separator
				display none

		&:first-child
			a
				color #004C5E

	&__link
		&
		&:visited
			text-decoration none

		&:hover
			text-decoration underline

	&__separator
		padding 0 3px
		color #333

		svg
			size 5px 10px
			fill #666
