.cat-type-list
	ul
		margin 0
		padding 0
		list-style-type none

		li
			padding em(4px) em(15px)

			a
				feattext()
				display block
				text-decoration none
				line-height 1

			&.current
				background-color $bluish

				a
					color #fff

			&:hover
				background-color $bluish

				a
					color #fff
