mixin cat-type-list(data)
	.cat-type-list&attributes(attributes)
		ul
			each item in data
				if item.active === true
					li.current
						a(href= item.link + '.html')= item.name
				else
					li
						a(href= item.link + '.html')= item.name
