generate-grid(increment, start, end)
	total = start

	for n, x in 0 .. ((end - start) / increment)
		.grid-col-{x + 1}
			flex-basis total
			padding-right 15px
			padding-left 15px
			min-width 0
			width total

		total = total + increment
