mixin cats-list(data)
	.cats-list&attributes(attributes)
		+cat-item("assets/images/cats/cat-1.jpg", "Водосточная и ливневая система")
		+cat-item("assets/images/cats/cat-2.jpg", "Все для колодцев")
		+cat-item("assets/images/cats/cat-3.jpg", "Все для сварки")
		+cat-item("assets/images/cats/cat-4.jpg", "Герметики, клей, пена")

		+cat-item("assets/images/cats/cat-5.jpg", "Гипсокартон, ГВЛВ, профиль")
		+cat-item("assets/images/cats/cat-6.jpg", "Заборы и сетки")
		+cat-item("assets/images/cats/cat-7.jpg", "Изделия из металла, сетки и проволока")
		+cat-item("assets/images/cats/cat-8.jpg", "Двери входные и козырьки")

		+cat-item("assets/images/cats/cat-9.jpg", "Кирпич")
		+cat-item("assets/images/cats/cat-10.jpg", "Кровельные материалы")
		+cat-item("assets/images/cats/cat-11.jpg", "Лаки, краски и растворители")
		+cat-item("assets/images/cats/cat-12.png", "Лестницы, стремянки  и вышки")

		+cat-item("assets/images/cats/cat-13-2.jpg", "Материалы деревообработки")
		+cat-item("assets/images/cats/cat-14.jpg", "Металлочерепица и комплектующие")
		+cat-item("assets/images/cats/cat-15.jpg", "Метизы, крепеж и такелаж")
		+cat-item("assets/images/cats/cat-16.jpg", "Мягкая кровля и комплектующие")

		+cat-item("assets/images/cats/cat-17.jpg", "Обувь")
		+cat-item("assets/images/cats/cat-18.jpg", "Одежда")
		+cat-item("assets/images/cats/cat-19.jpg", "Отделочные материалы")
		+cat-item("assets/images/cats/cat-20.jpg", "Пластики")

		+cat-item("assets/images/cats/cat-21.jpg", "Плитка тротуарная")
		+cat-item("assets/images/cats/cat-22-2.jpg", "Поликарбонат")
		+cat-item("assets/images/cats/cat-23-2.jpg", "Ручной инструмент")
		+cat-item("assets/images/cats/cat-24.jpg", "Сайдинг виниловый")

		+cat-item("assets/images/cats/cat-25.jpg", "Сайдинг металлический")
		+cat-item("assets/images/cats/cat-26.jpg", "Сантехника и дренаж")
		+cat-item("assets/images/cats/cat-27.jpg", "Семена, грунты, удобрения")
		+cat-item("assets/images/cats/cat-28.jpg", "Средства защиты")

		+cat-item("assets/images/cats/cat-29.jpg", "Сухие строительные смеси")
		+cat-item("assets/images/cats/cat-30.jpg", "Сыпучие материалы")
		+cat-item("assets/images/cats/cat-31.jpg", "Теплицы, парники")
		+cat-item("assets/images/cats/cat-32.jpg", "Товары для дома и дачи")

		+cat-item("assets/images/cats/cat-33.jpg", "Утеплители и гидропароизоляция")
		+cat-item("assets/images/cats/cat-34-2.jpg", "Фасадная плитка")
		+cat-item("assets/images/cats/cat-35.jpg", "Часы")
		+cat-item("assets/images/cats/cat-36.jpg", "Штендер акция «бессмертный полк»")

		+cat-item("assets/images/cats/cat-37.jpg", "Электроинструмент")
		+cat-item("assets/images/cats/cat-38.jpg", "Электроинструмент, бензо- и теплооборудование")
