.main-menu
	&__list
		display flex
		justify-content space-between
		align-items center
		margin 0
		padding 0

	&__item
		position relative
		padding 0
		list-style none

		&:hover
			a
				color $gold

		&--marked
			border-radius 100px
			background-color $lipstick

			&:hover
				a
					color white

		&--current
			a
				color $gold !important

	&__item_dropdown
		&::before
			position absolute
			top 100%
			left 0
			display block
			width 100%
			height 100%
			content ""
			cursor pointer

	&__link
		&
		&:visited
		&:hover
			display block
			text-decoration none

	&__submenu
		position absolute
		top 100%
		left 0
		z-index 1
		visibility hidden
		overflow hidden
		padding 0.5em 0
		width 250px
		background #fff
		box-shadow 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23)
		opacity 0
		transition 125ms ease
		transition-property opacity, visibility
		will-change opacity, visibility

	&__item:hover &__submenu
		visibility visible
		opacity 1

	&__item_dropdown &__link
		&::before
		&::after
			position absolute
			position absolute
			top 15px
			left 100%
			display inline-block
			margin-left -12px
			width 2px
			height 6px
			border-bottom 8px solid $blue-6
			background-color transparent
			content ""
			transition 220ms ease
			transform rotate(0)

		&::before
			transform rotate(-135deg)

		&::after
			transform rotate(135deg)

	&__item_dropdown:hover &__link
		&
		&:visited
			border-radius 2px 2px 0 0
			background #fff
			color $gray-9

		&:before
			transform translate(0, -4px) rotate(-45deg)

		&:after
			transform translate(0, -4px) rotate(45deg)
