include ../main-menu-submenu/main-menu-submenu

mixin main-menu(data)
	nav.main-menu&attributes(attributes)
		ul.main-menu__list
			each item in data
				- var itemClasses = ['main-menu__item']
				- var itemClassesMarked = ['main-menu__item main-menu__item--marked']
				- var itemClassesCurrent = ['main-menu__item main-menu__item--current']

				if item.marked === true
					- itemClasses.push(itemClasses[0] + itemClassesMarked)
				if item.active === true
					- itemClasses.push(itemClasses[0] + itemClassesCurrent)

				li(class=itemClasses)
					a(href=`${item.url}.html`).main-menu__link= item.title

					if item.submenu
						- item.submenu.parent = item.url
						.main-menu__submenu
							+main-menu-submenu(item.submenu)

				//- if item.marked === true
				//- 	li(class=itemClassesMarked)
				//- 		a(href=`${item.url}.html`).main-menu__link= item.title

