.main-banner-right
	position relative
	overflow hidden
	height 379px

.main-banner-right__wareday-label
	sale()
	position absolute
	top 45px
	left 0
	width 105px
	height 34px
	background-color $lipstick
	box-shadow 0 1px 4px 0 rgba(0, 0, 0, 0.25)
	text-align center
	font-family $base-font-family
	line-height 32px

	&:after
		position absolute
		top 0px
		left 105px
		z-index 2
		display block
		width 0
		height 0
		border-top 0
		border-right 0
		border-bottom 34px rgba(255, 255, 255, 0) solid
		border-left 15px $lipstick solid
		content ""

	&:before
		position absolute
		top 34px
		left 1px
		z-index 0
		display block
		width 0
		height 0
		border-width 0 3px 3px 0
		border-style solid
		border-color transparent #d2202f transparent transparent
		content ""
		// transform rotate(-10deg)
