.dropdown
	position relative
	display inline-block
	font-size 13px

	&__trigger
		padding 4px 37px 4px 18px
		border 1px solid #cdcdcd
		border-radius 3px
		background-color #fff
		color #333
		font-size 13px
		line-height 40px
		cursor pointer
		transition 125ms background-color ease-in-out
		user-select none

		&:hover
			background-color #F9F9F9

	&__caret
		position absolute
		top 50%
		right 18px
		display block
		margin-top -4px
		size 6px
		border-width 0 1px 1px 0
		border-style solid
		content ""
		transition 150ms all ease-in-out 0s
		transform rotate(45deg)
		transform-origin 70% 70%

	&__menu
		position absolute
		top 100%
		left 0
		z-index 100
		visibility hidden
		// overflow hidden
		// overflow-y auto
		margin-top -20px
		min-width 100%
		max-width 256px
		width 256px
		border 1px solid $cardborder
		border-radius 2px
		background #F8F8F8
		box-shadow 0 0 6px rgba(0, 0, 0, 0.25)
		text-align left
		opacity 0
		transition 125ms all ease-in-out
		-webkit-overflow-scrolling touch

		ul
			margin 0
			padding 0
			padding-top 10px
			padding-bottom 15px

	&[data-dropdown-open="true"] &__menu
		z-index 100
		visibility visible
		margin-top 2px
		opacity 1

	&[data-dropdown-open="true"] &__caret
		transform rotate(225deg)

	&[disabled]
	&[aria-disabled="true"]
		pointer-events none

		&
		&:hover
		&:focus
		&:active
			outline none
			box-shadow none
			opacity 0.65

	&_drop_down &__list
		top 100%
		margin-top -20px

	&_menu_right &__menu
		right 0
		left auto
