mixin dropdown(data)
	.dropdown&attributes(attributes)
		button(type="button" data-dropdown-trigger).dropdown__trigger
			+icon(name="cat-gamburger" title="каталог товаров")
			span.dropdown__name= data.title
			span.dropdown__caret

		.dropdown__menu(data-dropdown-menu)
			block
