.header-top
	padding rem(5px) 0
	height 30px
	background-color $navy

	.container
		padding 0 0 0 em(8px)

	.grid--grid
		height 100%

.header-top__left
	display flex
	justify-content flex-start
	align-items center

	.header-top__item
		margin-right 30px

.header-top__item
	display flex
	justify-content flex-start
	align-items center
	margin-right 10px
	text-decoration none

	.icon
		fill #fff

.header-top__text
	topline()
	margin-left 10px

.header-top__right
	display flex
	justify-content flex-end
	align-items center
	text-align right

	.header-top__item
		margin-right 0

.header-top__right
.header-top__left
	height 100%
