include ../../modules/icon/icon
mixin header-top(data)
	.header-top&attributes(attributes)
		.container
			.grid--grid
				.grid-col-1-2
					.header-top__left
						a(href="").header-top__item
							+icon(name="pencil" title="Написать письмо")
							.header-top__text Написать письмо
						a(href="").header-top__item
							+icon(name="consultant" title="Онлайн-консультант")
							.header-top__text Онлайн-консультант
				.grid-col-1-2
					.header-top__right
						a(href="").header-top__item
							+icon(name="call" title="Обратный звонок")
							.header-top__text Обратный звонок
