mixin aside-filter(data)
	.aside-filter&attributes(attributes)
		+form()
			+accordion()
				+accordion-item({"title": "Цена"})
					+range-interval()
				+accordion-item({"title": "Вид продукции"})
					+cat-type-list(cattypelist.default)
					
				+accordion-item({"title": "Тип"})
					.aside-filter__item
						.fieldset__item
							+checkbox(
								id="filter__checkbox-1" 
								name="filter__checkbox-1"
							).checkbox_style_default Винтовые
						.fieldset__item
							+checkbox(
								id="filter__checkbox-2" 
								name="filter__checkbox-1" 
								checked
							).checkbox_style_default Ершеные оцинкованные
						.fieldset__item
							+checkbox(
								id="filter__checkbox-3" 
								name="filter__checkbox-1" 
								
							).checkbox_style_default Специальные
						.fieldset__item
							+checkbox(
								id="filter__checkbox-4" 
								name="filter__checkbox-1" 
								checked
							).checkbox_style_default Строительные
						.fieldset__item
							+checkbox(
								id="filter__checkbox-5" 
								name="filter__checkbox-1" 
								checked
							).checkbox_style_default Специальные оцинкованные
						.fieldset__item
							+checkbox(
								id="filter__checkbox-6" 
								name="filter__checkbox-1" 
								
							).checkbox_style_default Строительные оцинкованные
						.fieldset__item
							+checkbox(
								id="filter__checkbox-7" 
								name="filter__checkbox-1" 
								
							).checkbox_style_default Толевые оцинкованные
						.fieldset__item
							+checkbox(
								id="filter__checkbox-8" 
								name="filter__checkbox-1" 
								
							).checkbox_style_default Финишные оцинкованные
					
				+accordion-item({"title": "Размер"})
					.aside-filter__item
						.fieldset__item
							+checkbox(
								id="filter__checkbox-12" 
								name="filter__checkbox-2"
							).checkbox_style_default 1,2х20
						.fieldset__item
							+checkbox(
								id="filter__checkbox-22" 
								name="filter__checkbox-2" 
								checked
							).checkbox_style_default 1,2х25  
						.fieldset__item
							+checkbox(
								id="filter__checkbox-32" 
								name="filter__checkbox-2" 
								
							).checkbox_style_default 1,8 (2,0)х50 мм  
						.fieldset__item
							+checkbox(
								id="filter__checkbox-42" 
								name="filter__checkbox-2" 
								checked
							).checkbox_style_default 1,8х32 мм  
						.fieldset__item
							+checkbox(
								id="filter__checkbox-52" 
								name="filter__checkbox-2" 
								checked
							).checkbox_style_default 1,8х40 мм  
						.fieldset__item
							+checkbox(
								id="filter__checkbox-62" 
								name="filter__checkbox-2" 
								
							).checkbox_style_default 2,5х32 мм  
						.fieldset__item
							+checkbox(
								id="filter__checkbox-72" 
								name="filter__checkbox-2" 
								
							).checkbox_style_default 2,5х50
						.fieldset__item
							+checkbox(
								id="filter__checkbox-82" 
								name="filter__checkbox-2" 
								
							).checkbox_style_default 2,5х50 мм 
						.fieldset__item
							+checkbox(
								id="filter__checkbox-72" 
								name="filter__checkbox-2" 
								
							).checkbox_style_default 2,5х60  
						.fieldset__item
							+checkbox(
								id="filter__checkbox-82" 
								name="filter__checkbox-2" 
								
							).checkbox_style_default 2,5х60 мм 
						.fieldset__item
							+checkbox(
								id="filter__checkbox-82" 
								name="filter__checkbox-2" 
								
							).checkbox_style_default 2х20 мм  
						a(href="").aside-filter__more Показать еще
				+accordion-item({"title": "Цвет"})
					.aside-filter__item
						.fieldset__item
							+checkbox(
								id="filter__checkbox-1" 
								name="filter__checkbox-3"
							).checkbox_style_default Белый
						.fieldset__item
							+checkbox(
								id="filter__checkbox-23" 
								name="filter__checkbox-3" 
								checked
							).checkbox_style_default Бесцветный
						.fieldset__item
							+checkbox(
								id="filter__checkbox-33" 
								name="filter__checkbox-3" 
								
							).checkbox_style_default Дуб
						.fieldset__item
							+checkbox(
								id="filter__checkbox-43" 
								name="filter__checkbox-3" 
								checked
							).checkbox_style_default Еловая зелень
						.fieldset__item
							+checkbox(
								id="filter__checkbox-53" 
								name="filter__checkbox-3" 
								checked
							).checkbox_style_default Иней
						.fieldset__item
							+checkbox(
								id="filter__checkbox-63" 
								name="filter__checkbox-3" 
								
							).checkbox_style_default Калужица
						.fieldset__item
							+checkbox(
								id="filter__checkbox-73" 
								name="filter__checkbox-3" 
								
							).checkbox_style_default Калужница
						.fieldset__item
							+checkbox(
								id="filter__checkbox-83" 
								name="filter__checkbox-3" 
								
							).checkbox_style_default Лиственница
						.fieldset__item
							+checkbox(
								id="filter__checkbox-93" 
								name="filter__checkbox-3" 
								
							).checkbox_style_default Макассар
						.fieldset__item
							+checkbox(
								id="filter__checkbox-103" 
								name="filter__checkbox-3" 
								
							).checkbox_style_default Махагон
						.fieldset__item
							+checkbox(
								id="filter__checkbox-113" 
								name="filter__checkbox-3" 
								
							).checkbox_style_default Орегон
						a(href="").aside-filter__more Показать еще
				+accordion-item({"title": "Радиокнопки"})
					.aside-filter__item
						.fieldset__item
							+radio(
								id="form-demo__radio-1" 
								name="form-demo__radio-group-1"
							).radio_style_default Винтовые
						.fieldset__item
							+radio(
								id="form-demo__radio-2" 
								name="form-demo__radio-group-1" 
								checked
							).radio_style_default Ершеные оцинкованные
						.fieldset__item
							+radio(
								id="form-demo__radio-3" 
								name="form-demo__radio-group-1"
							).radio_style_default Специальные
						.fieldset__item
							+radio(
								id="form-demo__radio-4" 
								name="form-demo__radio-group-1" 
								checked
							).radio_style_default Строительные
						.fieldset__item
							+radio(
								id="form-demo__radio-1" 
								name="form-demo__radio-group-1"
							).radio_style_default Строительные оцинкованные
						.fieldset__item
							+radio(
								id="form-demo__radio-2" 
								name="form-demo__radio-group-1" 
								checked
							).radio_style_default Толевые
						.fieldset__item
							+radio(
								id="form-demo__radio-3" 
								name="form-demo__radio-group-1"
							).radio_style_default Толевые оцинкованные
						.fieldset__item
							+radio(
								id="form-demo__radio-4" 
								name="form-demo__radio-group-1" 
								checked
							).radio_style_default Финишные оцинкованные
