.aside-filter
	border 1px solid #E6E6E6
	background-color #fff

	.accordion__pannel
		padding 0

	.accordion__trigger
		border none
		filterhead()
		padding-left em(20px)

	.accordion__item
		&:not(:last-child)
			border-bottom 1px solid #e6e6e6

	.aside-filter__item
		padding rem(0px) rem(20px) rem(20px)

		.fieldset__item
			height 15px

	.checkbox__box
		top 7px

	.fieldset__item
		margin-bottom 12px

	.checkbox__label
		white-space pre
		font-size 12px
		font-family "Open Sans", sans-serif
