.cat-item
	position relative
	display inline-block
	display flex
	flex 0 0 25%
	flex-flow column wrap
	margin-right 10px
	margin-bottom 25px
	max-width 270px
	height 237px
	background-color #fff
	box-shadow 0 0 1px 0 rgba(0, 0, 0, 0.5)
	vertical-align top
	cursor pointer
	transition all ease 0.3s

	&__title
		position absolute
		bottom 0
		left 0
		z-index 2
		flex 0 0 60px
		padding em(8px) em(15px)
		min-height 60px
		width 100%
		background-color #fff

		h4
			font-weight 700
			font-size rem(15px)
			line-height 17px

	&:hover
		box-shadow 0 0 8px 0 rgba(0, 0, 0, 0.2)

	a
		position absolute
		top 0
		left 0
		z-index 2
		width 100%
		height 100%

	&__img
		position relative
		z-index 1
		overflow hidden
		height 100%
