include ../form/form
include ../label/label
include ../fieldset/fieldset
include ../form-hint/form-hint
include ../input/input
include ../checkbox/checkbox
mixin bot-form(data)
	.bot-form&attributes(attributes)
		.container
			.grid--grid
				.grid-col-7-12
					.bot-form__form
						+form().form__item
							.form__title Будьте в курсе
							.form__legend Подпишитесь на последние обновления и узнавайте <br> о новинках и специальных предложениях первыми
							.fieldset_inline.fieldset
								.fieldset__item
									.form-item__control
										+input(
											type="text"
											name="form-bot__name"
											value=""
											placeholder="Ваше имя"
										)
										+form-hint("Введите корректное имя")
								.fieldset__item
									.form-item__control
										+input(
											type="email"
											name="form-bot__email"
											value=""
											placeholder="Эл. почта"
										)
										+form-hint()
							.form__foot
								.fieldset_inline.fieldset
									.form-item__control
										.form-foot__left.fieldset__item
											input(
												type="submit"
												class="btn"
												value="Подписаться"
											)
										.form-foot__right.fieldset__item
											.fieldset__item
												+checkbox(
													id="form-bot__checkbox-1" 
													name="form-bot__checkbox-1" 
													checked
												).checkbox_style_gold Я согласен на обработку <a href="">персональных данных</a>, а также с <a href="">условиями подписки</a>.
				.grid-col-5-12
					+newsblock()
