.page
	position relative

	&__content
		position relative
		top 0
		left 0
		z-index 1
		padding-top 162px
		background $base-bg-color
		transition 125ms all ease-in-out
		transition 125ms left ease

		+below($media-screen-tablet)
			padding-top 60px

	&__header
		position fixed
		top 0
		z-index 1000
		box-sizing border-box
		width 100%

	&__presentation
		+print()
			page-break-after always

	&__main
		margin 0 auto
		padding-top 20px

	&__mobile-menu
		position fixed
		top 0
		right 0
		right 0
		bottom 0
		z-index 10
		visibility hidden
		overflow-y auto
		width 80%
		background-color #f3f3f3
		opacity 0
		transition 125ms all ease-in-out
		-webkit-overflow-scrolling touch

	&__overlay
		position fixed
		top 0
		right 0
		bottom 0
		left 0
		z-index 1
		visibility hidden
		background-color rgba(#000, 0.3)
		opacity 0
		transition 125ms all ease-in-out

	&__wrapper
		background url("../images/pattern.png") 0 0 repeat-y
