.feat-mod
	margin-bottom rem(36px)
	padding 3em 0 2.5em
	background-color #fff
	box-shadow 0 2px 6px 0 rgba(0, 0, 0, 0.1)
	text-align center

.feat-item__img
	margin-right auto
	margin-bottom 1.5rem
	margin-left auto
	padding 0.7em 0 0.2em
	width 112px
	height 112px
	border-radius 50%
	background-color $sun-yellow
	box-shadow 0 2px 6px 0 rgba(150, 126, 0, 0.6)
	text-align center

.feat-item__title
	head4()

.feat-item__text
	feattext()
	margin-top 1rem
	margin-right auto
	margin-left auto
	max-width 90%
	text-align center
