mixin feat-mod(data)
	.feat-mod&attributes(attributes)
		.container
			.grid--grid
				each item in data
					.grid-col-1-4
						.feat-item
							.feat-item__img
								img(src= item.img, alt="")
							.feat-item__body
								.feat-item__title= item.title
								.feat-item__text= item.text
