include ../icon/icon

mixin pagination(data)
	.pagination&attributes(attributes)
		.pagination__controls.pagination__controls_backward
			a(href="#").pagination__control
				+icon(name="pagarrleft", title="Больше")
		.pagination__controls
			a(href="#").pagination__page 1
			a(href="#").pagination__page 2
			span.pagination__page.pagination__page_current 3
			span.pagination__ellipsis …
			a(href="#").pagination__page 10
		.pagination__controls.pagination__controls_forward
			a(href="#").pagination__control
				+icon(name="pagarright", title="Больше")
				
