.pagination
	margin 15px 0 0
	text-align right

	&__controls
		display inline-block
		margin 0 -3px

		a
			color #42a2d1

	&__controls_backward
		// 

	&__controls_forward
		// 

	&__control
	&__page
		&
		&:visited
			display inline-block
			display inline-block
			padding-right 0.4em
			padding-left 0.4em
			min-width 26px
			height 2em
			border 1px solid $cardborder
			background-color #fff
			color currentColor
			vertical-align middle
			text-align center
			text-decoration none
			line-height 2em
			pager()

		&:hover
			border-color #42a2d1
			background-color #42a2d1
			color currentColor
			color #fff
			text-decoration none

	&__page
		margin 0 -4px

	&__page_current
		border-color #42a2d1
		background-color #42a2d1
		color #fff

	&__ellipsis
		display inline-block
		padding-right 0.4em
		padding-left 0.4em
		min-width 26px
		height 2em
		border 1px solid $cardborder
		background-color #fff
		color #666
		vertical-align middle
		line-height 2em
		pager()
		margin 0 -3px
