mixin services(data)
	.services&attributes(attributes)
		+item-services("assets/images/serv-1.svg", "Расчет", "Дверь входная Прораб, цвет медный антик,86 мм.Дверь входная Прораб, цвет медный антик,86 мм.")
		+item-services("assets/images/serv-2.svg", "Распил", "Дверь входная Прораб, цвет медный антик,86 мм.Дверь входная Прораб, цвет медный антик,86 мм.")
		+item-services("assets/images/serv-3.svg", "Упаковка", "Дверь входная Прораб, цвет медный антик,86 мм.Дверь входная Прораб, цвет медный антик,86 мм.")

		+item-services("assets/images/serv-4.svg", "Хранение", "Дверь входная Прораб, цвет медный антик,86 мм.Дверь входная Прораб, цвет медный антик,86 мм.")
		+item-services("assets/images/serv-5.svg", "Доставка", "Дверь входная Прораб, цвет медный антик,86 мм.Дверь входная Прораб, цвет медный антик,86 мм.")
		+item-services("assets/images/serv-6.svg", "Подъем на этаж", "Дверь входная Прораб, цвет медный антик,86 мм.Дверь входная Прораб, цвет медный антик,86 мм.")

		+item-services("assets/images/serv-7.svg", "Сборка и установка", "Дверь входная Прораб, цвет медный антик,86 мм.Дверь входная Прораб, цвет медный антик,86 мм.")
