.item-services
	flex 33.3333%
	margin-bottom 70px
	padding 0
	max-width 285px

	&__icon
		color $bluish

	&__title
		margin-top 20px
		margin-bottom 20px
		color #000
		font-weight 700
		font-size 20px
		line-height 21px

	&__text
		par()

.serve-1
	sprite($serve1)
