.header-contacts
	display flex
	flex-flow column wrap
	justify-content flex-end
	align-items flex-end
	margin-top 2px
	margin-right 38px

	.header-contacts__phone
		position relative
		display inline-block
		color #fff
		text-decoration none
		font-weight 700
		font-size rem(20px)
		font-family $base-font-family

		&:before
			position absolute
			bottom 5px
			left 0
			width 100%
			height 1px
			background-color #fff
			content ""

	.header-contacts__text
		meta()
