mixin cart-list(data)
	.cart-list&attributes(attributes)
		.cart-list__outer
			table
				thead
					tr
						td Товар
						td Цена
						td Кол-во
						td Вес
						td Объем
						td Стоимость
						td
				tbody
					tr
						td
							.cart-ware-preview
								.cart-ware-preview__left
									a(href="").cart-ware-preview__img
										img(src="assets/images/cart-img.png")
									.cart-ware-preview__art Код: 1254654654
								.cart-ware-preview__right
									a.cart-ware-preview__title Дверь входная Прораб, цвет медный антик,86 мм.

						td  8 509 <span class="rouble">c</span>
						td 
							.cart-counter
								.cart-counter__minus 
									span &minus;
								input(type="text", value="1")
								.cart-counter__plus
									span +
						td 45 кг
						td 1 куб. м
						td 8 506 <span class="rouble">c</span>
						td
							.cart-ware-delete
								+icon(name="cart-ware-delete" title="Удалить товар")
					tr
						td
							.cart-ware-preview
								.cart-ware-preview__left
									.cart-ware-preview__img
										img(src="assets/images/cart-img.png")
									.cart-ware-preview__art Код: 1254654654
								.cart-ware-preview__right
									a.cart-ware-preview__title Дверь входная Прораб, цвет медный антик,86 мм.

						td  8 509 <span class="rouble">c</span>
						td 
							.cart-counter
								.cart-counter__minus 
									span &minus;
								input(type="text", value="1")
								.cart-counter__plus
									span +
						td 45 кг
						td 1 куб. м
						td 8 506 <span class="rouble">c</span>
						td
							.cart-ware-delete
								+icon(name="cart-ware-delete" title="Удалить товар")
					tr
						td
							.cart-ware-preview
								.cart-ware-preview__left
									.cart-ware-preview__img
										img(src="assets/images/cart-img.png")
									.cart-ware-preview__art Код: 1254654654
								.cart-ware-preview__right
									a.cart-ware-preview__title Дверь входная Прораб, цвет медный антик,86 мм.

						td  8 509 <span class="rouble">c</span>
						td 
							.cart-counter
								.cart-counter__minus 
									span +
								input(type="text", value="1")
								.cart-counter__plus
									span &minus;
						td 45 кг
						td 1 куб. м
						td 8 506 <span class="rouble">c</span>
						td
							.cart-ware-delete
								+icon(name="cart-ware-delete" title="Удалить товар")
		.cart__post-msg
			p.
				Для оформления заказа необходимо <a href="">авторизоваться</a>.<br/> 
				Если вы еще не зарегистрировались на&nbsp;нашем сайте – это очень <a href="">легко и быстро сделать</a>.<br/> 
				Или же просто войти <a href="">через социальные сети</a> и&nbsp;аккаунт создастся автоматически.
	
