.cart-list
	min-width 857px

	table
		thead
			tr
				td
					color #709ca6
					font-size rem(14px)

		tbody
			tr
				td
					padding em(20px) em(10px)
					border-bottom 1px solid $cardborder
					vertical-align baseline
					par()

					&:first-child
						padding-left 0

					&:not(:first-child)
						width 15%

					&:last-child
						width auto

					.rouble
						font-weight 400

					&:nth-child(2)
						color #434343

				&:last-child
					td
						border-bottom none

.cart-list__outer
	margin-bottom 40px
	padding-top 25px
	padding-right 15px
	padding-bottom 17px
	padding-left 25px
	border 1px solid $cardborder
	background-color #fff

.cart-ware-preview__title
	display block
	margin-top 20px
	color $bluish
	text-decoration none
	font-size rem(14px)
	line-height normal
	cursor pointer

.cart-ware-preview
	display flex
	width 315px
	line-height 1

.cart-counter
	display flex
	align-items stretch
	height 24px

	input
		margin-right 4px
		margin-left 4px
		width 29px
		height 24px
		border solid 1px $cardborder
		border-radius 2px
		color #000
		text-align center

	&>div
		display inline-block
		vertical-align middle
		cursor pointer

		span
			color $bluish
			font-weight 500
			font-size rem(16px)

.cart-ware-preview__art
	lot()

.cart-ware-preview__img
	display inline-block
	margin-right 24px
	margin-bottom 15px

.cart__post-msg
	max-width 665px

	a
		color $pine-green

.cart-ware-delete
	cursor pointer
