// Set input placeholder style
placeholder()
	if selector() == "&"
		error("placeholder() must be called from a ruleset!")

	&::-webkit-input-placeholder
		{block}

	&:-moz-placeholder
		{block}

	&::-moz-placeholder
		{block}

	&:-ms-input-placeholder
		{block}

.header-search
	position relative
	top 5px

	input[type="text"]
		margin-right 10px
		padding em(7px) em(15px) em(12px)
		width 412px
		height 34px
		border none
		border-radius 2px
		background-color rgb(248, 248, 248)
		font-size 14px
		line-height 1

		&::-webkit-input-placeholder
			pl()

	form
		display flex
		align-items center

input[type="submit"]
	width 135px
	height 34px
	border none
	border-radius 100px
	btn()
	background-image linear-gradient(180deg, #FFE95B 13.26%, #E8CE25 66.91%, #D1BC2C 99.45%)
	box-shadow 0 4px 6px 0 $shadowcolor
	cursor pointer

	&:hover
		background-image linear-gradient(0deg, #FFE95B 13.26%, #E8CE25 66.91%, #D1BC2C 99.45%)

	&:active
		background-color #EBD12C
		background-image none
		box-shadow none

	&:focus
		outline none

	&:disabled
		background-image linear-gradient(180deg, #C9C9C9 0%, #B0B0B0 49.72%, #9C9C9C 100%)
		box-shadow none
