.header
	&-bg
		padding em(9px) 0 em(10px)
		background url("../images/bg-radial-gradient.png") center bottom no-repeat

	&.hide
		visibility hidden
		height 0
		opacity 0
		transform translateY(-100%)

.page__header
	&.headerScrolled
		.header-middle
			visibility hidden
			height 0
			opacity 0
			transform translateY(-100%)
