include ../../modules/header-top/header-top
include ../../modules/header-middle/header-middle
include ../../modules/header-bottom/header-bottom
mixin header(data)
	header.header&attributes(attributes)
		+header-top()
		.header-bg
			+header-middle()
			+header-bottom()
