include ../../modules/header-search/header-search
include ../../modules/header-cart/header-cart
include ../../modules/header-catmenu/header-catmenu
mixin header-bottom(data)
	.header-bottom&attributes(attributes)
		.container
			.grid--grid
				.grid-col-1-4
					+header-catmenu()
				.grid-col-1-2
					+header-search()
				.grid-col-1-4
					+header-cart()
