.slider
	margin 0
	padding 0

.swiper-button-prev
.swiper-container-rtl .swiper-button-next
.swiper-button-next
.swiper-container-rtl .swiper-button-prev
	background none
	color rgba(255, 255, 255, 1)
	opacity 1

.swiper-wrapper
	padding-bottom em(28px)

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet
	margin 0 10px

.swiper-pagination-bullet
	background-color $dotsnav
	opacity 1

.swiper-pagination-bullet-active
	width 10px
	height 10px
	border 2px solid $dotsnav
	background-color transparent
