include ../../modules/icon/icon
mixin slider(data, id, row)
	.slider&attributes(attributes)
		.swiper-container&attributes({'data-swiper-id': id= id, 'data-swiper-row': row= row})
			.swiper-wrapper
				each item in data
					figure.main-slider__slide.swiper-slide
						a(href="")
							img(src= item.img, alt="")
			.swiper-pagination
			.main-slider__arrow.main-slider__arrow--left.swiper-button-prev#sliderLeft
				+icon(name="arrow-left", title="left")
			.main-slider__arrow.main-slider__arrow--right.swiper-button-next#sliderRight
				+icon(name="arrow-right", title="right")

