.accordion
	&__item
		margin-bottom -1px
		padding 0
		list-style none

	&__trigger
		position relative
		box-sizing border-box
		padding 10px 50px 10px 20px
		width 100%
		border 1px solid #cdcdcd
		border-radius 3px
		background-color #fff
		color #000
		text-align left
		font-size 13px
		cursor pointer
		transition 150ms all ease-in-out 0s

		&:hover
			background-color #fff

		&:focus
			outline none

		&::after
			position absolute
			top 50%
			right 20px
			display block
			margin-top -5px
			size 6px
			border-width 0 1px 1px 0
			border-style solid
			border-color #337383
			content ""
			transition 150ms all ease-in-out 0s
			transform rotate(45deg)
			transform-origin 75% 75%

	&__pannel
		visibility hidden
		overflow hidden
		padding 0 10px
		height 0
		opacity 0
		transition 250ms all cubic-bezier(0.5, 0, 0.1, 1)

	[data-accordion-item="true"] &__pannel
		visibility visible
		overflow auto
		padding-top 20px
		padding-bottom 20px
		height auto
		opacity 1

	[data-accordion-item="true"] &__trigger
		padding-bottom 20px

		&:focus
			outline none

		&::after
			transform rotate(225deg)
