.scroll-top
	position fixed
	right 20px
	bottom 40px
	z-index 1
	size 58px
	border-radius 50%
	background-color #fdfdfd
	box-shadow 0px 2px 6px rgba(0, 0, 0, 0.1)

	&__icon
		position absolute
		top 50%
		left 50%
		center()
		color #42A2D1

	&:focus
		outline none
