include ../icon/icon

mixin scroll-top(data)
	button(type="button").scroll-top.button.button_style_solid&attributes(attributes)
		span.visuallyhidden Scroll page top
		+icon(name="up" title="Наверх").scroll-top__icon
