.header-lk
	position relative
	top 10px
	left 12px
	display flex
	justify-content flex-end
	align-items center
	padding 0.5em 0

	a
		flex 0 0 auto
		color #fff
		text-decoration none
		meta()

	.icon_user
		flex 0 0 auto
		overflow hidden
		margin-right 10px
		width 22px
		height 22px
		border-radius 50px
