mixin javascripts(data)
	script(src=config.path.scripts + "/vendor.js")
	script(src=config.path.scripts + "/sticky.min.js")
	script(src=config.path.scripts + "/main.js")
	script.
		var sticky = new Sticky('[data-sticky]');
	</script>
	block

