.dropdown-list
	margin 0
	padding 0

	&__item
		position relative
		padding em(7px) em(23px) em(7px) em(25px)
		list-style none
		line-height em(16px)
		cursor pointer

		a
			color #07262D
			text-decoration none
			font-size rem(13px)

		&:hover
		&_active
			background-color #3498da

			a
				color #fff

	&__item_active
		&:hover
			background-color #258bce

			a
				color #fff

	&__item
		&:first-child
			a
				color $lipstick
				font-weight 700
				font-size rem(18px)

			&:hover
				a
					color #fff
