mixin dropdown-list(data)
	ul.dropdown-list&attributes(attributes)
		each item in data
			li(tabindex="0", data-url= item.value).dropdown-list__item
				a(href="")= item.option
			if item.optgroup
				li(tabindex="0", data-url= item.value, data-dropdown-submenu).dropdown-list__item
					a(href="")= item.option
					+icon(name="menu-cat-arrow", title="")
					+dropdown-sublist(item.optgroup)
			if item.mark === "head"
				li(tabindex="0", data-url= item.value, data-dropdown-submenu).dropdown-list__item
					a(href="")= item.option
					+icon(name="menu-cat-arrow", title="")
					+dropdown-sublist(item.optgroup)

