// Common css styles
.page__main
	.container
		padding-left 10px

.head-mod
	margin-bottom -15px

	h3
		head2()
		text-transform uppercase

.page-two-colls
	aside
		margin-right 20px

.page-two-colls
	padding-bottom 65px

.page-one-col
	padding-top 0px

.page-two-col-right
	position relative
	left -25px
	padding-bottom 130px

.mod-sales
	.swiper-button-prev
	.swiper-button-next
		color rgba(42, 127, 143, 1)

.wares-slider
	.swiper-button-prev
	.swiper-button-next
		color rgba(42, 127, 143, 1)

.headerUnScrolled
	&+.header-catmenu-target
		z-index 1000

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet
	margin 0 7px

.swiper-pagination-bullet-active
	position relative
	top 1px

.mod-sales-outer
	.mod-sales
		.head-mod-new
			h3
				color #07262D

.cats-list
	padding-top 20px
