// Project fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic-ext")

// ruble
$rouble-font-family = "rouble"
$rouble-font-base-path = "../fonts/rubl"
$fonts-formats = eot woff2 woff truetype otf
font-face(
	family: $rouble-font-family,
	file-name: "rouble-webfont",
	base-path: $rouble-font-base-path,
	formats: $fonts-formats
)
