// Project specific mixins
m-padding()
	padding-right $mobile-padding
	padding-left $mobile-padding

focus(color)
	border-color color
	box-shadow 0 0 3px 1px rgba(color, 0.45)

magrin-auto()
	margin-right auto
	margin-left auto

center()
	position absolute
	top 50%
	left 50%
	transform translate(-50%, -50%)

center-x()
	position absolute
	top 0%
	left 50%
	transform translate(-50%, 0%)

center-y()
	position absolute
	top 50%
	left 0%
	transform translate(0%, -50%)

d-flex()
	display flex
