// - Base
$base-bg-color = #F8F8F8
$base-text-color = $text
$base-loud-color = #000
$base-font-family = opensans
$base-font-size = 1.6em
$base-line-height = 1.3em
$fixed-font-family = mono
// - Headings
$heading-font-family = $base-font-family
$heading-color = $base-text-color
$heading-font-weight = 300
// - Links
$link-color = $blue-7
$link-hover-color = $red-7
$link-visited-color = $violet-8
// - Forms: Default style
// - Color
$form-color-active = $blue-6
$form-color-border = $gray-4
$form-color-background = #fff
$form-color-placeholder = $gray-6
$form-color-font = $base-text-color
$form-color-background_disabled = $gray-0
$form-color-border_focus = $blue-6
$form-color-border_invalid = $red-6
/* Color palette */
$gold = rgb(255, 222, 5)
$lipstick = rgb(229, 38, 53)
$shadowcolor = rgba(0, 0, 0, 0.16)
$bluish = rgb(39, 149, 202)
$pine-green = rgb(7, 38, 45)
$sun-yellow = rgb(255, 221, 48)
$steel-grey = rgb(116, 133, 136)
$warm-grey = rgb(152, 152, 152)
$cardborder = rgb(230, 230, 230)
$dotsnav = rgb(0, 77, 95)
$dark-cyan = rgb(9, 135, 156)
$navy = rgb(2, 48, 61)
$navy-two = #01232c
$text = #07262D
// - Font
$form-font-size = 13px
// - Padding
$form-padding_horizontal = 18px
$form-padding_vertical = ceil(($form-padding_horizontal / 2))
// - Size
$form-size-input-height = 40px
// - Border
$form-border_default = 1px solid $form-color-border
$form-border-radius = 3px
// - Fonts
roboto = "Roboto", Arial, "Helvetica Neue", Helvetica, sans-serif
// - Project variables
$content-width = 1120px
$mobile-padding = 20px
$grid-increment-desktop = 95px
$grid-start-desktop = 85px
$grid-end-desktop = 1120px

/* Text styles */
cardprice()
	color $pine-green
	letter-spacing 6.4px
	font-weight bold
	font-size 32px
	font-family $base-font-family

formtitle()
	color rgb(255, 255, 255)
	font-weight bold
	font-size 28px
	font-family $base-font-family

footerbold()
	color rgb(255, 255, 255)
	font-weight bold
	font-size 22px
	font-family $base-font-family

newstitle()
	color rgb(0, 76, 94)
	font-weight bold
	font-size 20px
	font-family $base-font-family

head-mod()
	color rgb(239, 3, 25)
	font-weight bold
	font-size 20px
	font-family $base-font-family

cart()
	color rgb(255, 255, 255)
	letter-spacing 0.03em
	font-weight bold
	font-size 16px
	font-family $base-font-family

footeraddr()
	color rgb(255, 255, 255)
	font-weight bold
	font-size 16px
	font-family $base-font-family

sale()
	color rgb(255, 255, 255)
	letter-spacing 0.6px
	font-weight bold
	font-size 16px
	font-family PTSans

cardcount()
	color rgb(0, 0, 0)
	font-size 16px
	font-family $base-font-family

intro()
	color $pine-green
	font-size 16px
	font-family $base-font-family
	line-height 1.29

unite()
	color $pine-green
	font-size 16px
	font-family $base-font-family

quote()
	color $dark-cyan
	font-style italic
	font-size 16px
	font-family $base-font-family
	line-height 1.05

filterhead()
	color rgb(0, 0, 0)
	font-weight bold
	font-size 14px
	font-family $base-font-family

footertitle()
	color rgb(255, 255, 255)
	font-weight bold
	font-size 14px
	font-family $base-font-family

cardoldprice()
	color $warm-grey
	letter-spacing 2.8px
	font-weight 600
	font-size 14px
	font-family $base-font-family

btn()
	color rgb(0, 0, 0)
	font-weight 600
	font-size 14px
	font-family $base-font-family

linktopart()
	color rgb(66, 162, 209)
	font-size 14px
	font-family $base-font-family

par()
	color $pine-green
	font-size 14px
	font-family $base-font-family

pl()
	color $steel-grey
	font-style italic
	font-size 14px
	font-family $base-font-family

pager()
	color $pine-green
	font-size 14px
	font-family Roboto

cardbtn()
	color rgb(255, 255, 255)
	letter-spacing 0.5px
	font-weight bold
	font-size 13px
	font-family $base-font-family

formplaceholder()
	color rgb(255, 255, 255)
	font-weight 600
	font-size 13px
	font-family $base-font-family

newsdate()
	color rgb(66, 162, 209)
	font-size 13px
	font-family $base-font-family
	line-height 1.23

cardtitle()
	color $bluish
	font-size 13px
	font-family $base-font-family
	line-height 1.1

feattext()
	color $pine-green
	font-size 13px
	font-family $base-font-family

radiolabel()
	color $pine-green
	font-size 13px
	font-family Roboto

Text-Style()
	color rgb(0, 0, 0)
	font-weight bold
	font-size 12px
	font-family Roboto

topline()
	color rgb(255, 255, 255)
	font-size 12px
	font-family $base-font-family

lot()
	color $pine-green
	font-size 12px
	font-family $base-font-family

unitemin()
	color rgb(0, 76, 94)
	font-size 12px
	font-family Roboto

head1()
	color $pine-green
	letter-spacing normal
	font-weight bold
	font-style normal
	font-stretch normal
	font-size 28px
	font-family $base-font-family
	line-height normal

head2()
	color $pine-green
	letter-spacing normal
	font-weight bold
	font-style normal
	font-stretch normal
	font-size 20px
	font-family $base-font-family
	line-height normal

head3()
	color $pine-green
	letter-spacing normal
	font-weight bold
	font-style normal
	font-stretch normal
	font-size 16px
	font-family $base-font-family
	line-height normal

head4()
	color rgb(0, 0, 0)
	letter-spacing normal
	font-weight 600
	font-style normal
	font-stretch normal
	font-size 16px
	font-family $base-font-family
	line-height 1.05

meta()
	color rgb(255, 255, 255)
	letter-spacing normal
	font-weight normal
	font-style normal
	font-stretch normal
	font-size 14px
	font-family $base-font-family
	line-height normal

menu()
	color rgb(255, 255, 255)
	letter-spacing 1.3px
	font-weight 800 !important
	font-style normal
	font-stretch normal
	font-size rem(13px)
	font-family $base-font-family
	line-height normal
